<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/ionic/release/css/ionic.css" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <link href="styles/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="styles/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/ionic/release/js/ionic.js"></script>
    <script src="bower_components/ionic/release/js/ionic-angular.js"></script>
    <script src="bower_components/ngCordova/dist/ng-cordova.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <!-- build:js scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers.js"></script>
    <script src="scripts/services.js"></script>
    <script src="scripts/configuration.js"></script>
    <!-- endbuild -->
  </head>
  <body ng-app="starter">

    <div ng-controller="AppCtrl" layout="column" style="height:100%">

      <section layout="row" flex="">

        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">

          <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Sidenav Left</h1>
          </md-toolbar>
          <md-content layout-padding="" ng-controller="LeftCtrl">
            <md-button ng-click="close()" class="md-primary" hide-gt-md="">
              Close Sidenav Left
            </md-button>
            <p hide-md="" show-gt-md="">
              This sidenav is locked open on your device. To go back to the default behavior,
              narrow your display.
            </p>
          </md-content>

        </md-sidenav>

        <md-content flex="" ui-view>


           
          <!-- <div layout="column" layout-fill="" layout-align="top center">
            <p>
            The left sidenav will 'lock open' on a medium (&gt;=960px wide) device.
            </p>
            <p>
            The right sidenav will focus on a specific child element.
            </p>

            <div>
              <md-button ng-click="toggleLeft()" class="md-primary" hide-gt-md="">
                Toggle left
              </md-button>
            </div>

            <div>
              <md-button ng-click="toggleRight()" class="md-primary">
                Toggle right
              </md-button>
            </div>
          </div>

          <div flex=""></div> -->

        </md-content>
      </section>
    </div>
  </body>
</html>
